__pycache__/
*~
*#
*.swp
*.saved
*.vscode/
*CMake/2.1_libraries/*
*build/
*build_android/
*build_linux/
build*/
py/images/captured
py/models/new_color_detector
CMakeLists.txt.user
qtaccount.ini
.qt-license

# Android
*.iml
*.gradle
*/local.properties
*/.idea/caches
*/.idea/libraries
*/.idea/modules.xml
*/.idea/workspace.xml
*/.idea/navEditor.xml
*/.idea/assetWizardSettings.xml
*.DS_Store
*/build
*/captures
*.externalNativeBuild
*.cxx
*local.properties
*ndk-samples/
